
#instafeed a {
    display: inline-block;
    width: 30%;
    margin: 1.5%;
    box-shadow: -2px 5px 20px 0px rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    overflow: hidden;
}


#instafeed a img {
    width:100%;
    margin-bottom: -8px;
}


@media (max-width:767px){


#instafeed a {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
}

}


.grid-container{
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1170px;
    z-index: 12;
    margin: 0 auto;
    pointer-events:none;
    display:none;
}

.grid {
    height: 100vh;
    width: 70px;
    float: left;
    background: rgba(255, 0, 0, 0.28);
    margin-right: 30px;
}   

.grid:last-child{
    margin:0;
}

body {
    padding: 0;
    font-size: 16px;
    line-height: 1.4;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    font-family: 'Questrial', sans-serif;
    width: 100%;

    margin: 0 auto;
    max-width: 100%
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    float: none;
    padding: 0 15px;
    box-sizing:border-box;
}

h1,h2,h3,h4,h5,h6,p,a {
    text-transform: initial;
    margin: 0;
    padding: 0;
    text-decoration: none;
    margin-bottom: 15px;
    color: #000
}


.body-container-wrapper ul,
.body-container-wrapper li {
    margin-bottom: 15px
}

a {
    margin-bottom: 0;
    font-weight: 600
}

h1 {
    font-weight: 800;
    font-size: 64px;
    letter-spacing: 0px;
    line-height: 1.35;
    font-family: 'Questrial', sans-serif;
}



h2 {
    font-weight: 800;
    font-size: 52px;
    letter-spacing: 0px;
    line-height: 1.35;
    font-family: 'Questrial', sans-serif;
}

h3 {

    font-size: 32px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0;

}

h4 {
font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
    margin-bottom: 10px;
    color: #8b8b8b;
}

h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px
}

h6 {
    font-size: 10px;
    font-weight: 600
}

p {
font-size: 18px;
    line-height: 26px;
    color: #525252;
    letter-spacing: 0;
    font-weight: 300;
}

h3+p {
    margin-top: 15px
}

.body-container-wrapper {
    overflow: hidden
}

.body-container-wrapper ul {
    padding: 0;
    text-decoration: none;
    list-style: none;
    margin: 20px 0
}

.body-container-wrapper ol {
    margin: 0;
    padding: 0;
    text-decoration: none;
    margin-bottom: 15px
}

.body-container-wrapper li {
    font-size: 16px;
    line-height: 26px;
    color: #121232;
    letter-spacing: 0;
    font-weight: 300;
    position: relative;
    margin-left: 26px;
    margin-bottom: 8px
}

.body-container-wrapper li:before {
    position: absolute;
    top: 11px;
    left: -25px;
    content: '';
    width: 4px;
    height: 4px;
    background: #4a4a4a;
    border-radius: 50%
}

.no-list-style li {
    margin: 0
}

.no-list-style li:before {
    display: none
}

blockquote {
    margin: 0;
    font-size: 16px;
    font-style: italic;
    color: #a9a9a9;
    font-weight: 300;
    padding-left: 17px;
    border-left: 2px solid #ebc249;
    margin-left: 4px;
    margin-top: 25px;
    margin-bottom: 20px;
    letter-spacing: 1px
}

.cta-button{
    font-size: 14px;
    line-height: 18px;
    padding: 13px 30px 13px 64px;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    letter-spacing: 0;
    border-radius: 3px;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
    background: #4886FF;
    color: #fff;
    box-shadow:0px 4px 20px 0 rgba(0, 0, 0, 0.39);
    overflow:hidden;
}

.cta-button:before{
    position: absolute;
    font-family: FontAwesome;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 4;
    background: #3F77E4;
    text-align: center;
    width: 44px;
    color: #fff;
    content: '\f061';
    line-height: 44px;
}

.align-center {
    text-align: center
}

.align-left {
    text-align: left
}

.align-right {
    text-align: right
}

.float-left {
    float: left
}

.float-right {
    float: right
}

.overlay {
    position: relative;
    z-index: 1
}

.overlay:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 18, 50, 0.5);
    z-index: -1
}

.gray-bg {
    background: #F6F7FB
}

.all-text-white,
.all-text-white h1,
.all-text-white h2,
.all-text-white h3,
.all-text-white p,
.all-text-white h4,
.all-text-white h5,
.all-text-white h6,
.all-text-white li,
.all-text-white .fa,
.all-text-white a {
    color: #fff
}

.text-margin-zero h1,
.text-margin-zero h2,
.text-margin-zero h3,
.text-margin-zero p,
.text-margin-zero h4,
.text-margin-zero h5,
.text-margin-zero h6,
.text-margin-zero .fa,
.text-margin-zero a {
    margin: 0
}

.body-container-wrapper .all-text-white li:before {
    background: #fff
}

body .container-fluid .row-fluid .pad-bottom {
    margin-bottom: 80px
}

body .container-fluid .row-fluid [class*="span"] {
    min-height: 0
}

.section-bg {
    background-size: cover!important;
    background-position: top center!important;
}

.section-bg .bg-image {
    display: none !important
}

.section-padding {
    padding: 120px 0
}

.section-border {
    border-bottom: 1px solid #e7e7e7
}

body .section-heading.align-center {
    max-width: 640px;
    padding: 0 20px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px
}

@media(min-width:768px) {
.col-auto-height{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

body .row-fluid .vertical-center {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center
}
}


@media(min-width:768px) and (max-width:1024px) {
.wrapper {
    padding: 0 40px
}

h1 {
    font-size: 90px;
}

h2 {
    font-size: 24px;
}

.section-padding {
    padding: 60px 0
}

body .container-fluid .row-fluid .section-heading.align-center {
    margin-bottom: 30px
}

p {
    font-size: 14px;
    line-height: 24px
}

.body-container-wrapper li {
    font-size: 14px;
    line-height: 24px
}
}


@media(max-width:767px) {
.row-fluid [class*="span"].wrapper {
    padding: 0 15px
}

h1 {
    font-size: 44px;
}

.section-padding {
    padding: 60px 0
}

h2 {
    font-size: 26px;
    line-height: 30px
}

h3 {
    font-size: 20px;
    line-height: 26px
}

.align-right {
    text-align: center
}

.align-left {
    text-align: center
}

body .container-fluid .row-fluid .section-heading.align-center {
    margin-bottom: 30px
}

p {
    font-size: 14px;
    line-height: 24px
}
.body-container-wrapper li {
    font-size: 14px;
    line-height: 24px
}
}




/**************************************
            Header Styling
**************************************/





.header {
    padding:  50px 0 30px;
}

.header .col-auto-height{
    display: flex;
    align-items: center;
    justify-content: center;
}


.header .logo-container img{
    width:  80px;
}


.header .nav-social-icons{
    text-align: right;
}

.header .nav-social-icons a{
    margin-left: 24px;
    font-size: 20px;
}

.header .nav-social-icons a img{

}

body .header .nav-button {
    font-size: 16px;
    background: #000;
    color: #fff;
    padding: 16px 27px;
    border-radius: 10px;
    margin-left: 40px;
    border: 1px solid #000;
    transition: all .2s ease-in-out;
}

body .header .nav-button:hover {
    background: #fff;
    color: #000;
}








/**************************************
            Header Styling
**************************************/


.primary-banner {
    padding: 100px 0 130px;
}

.primary-banner .three-col{
    margin-top: 130px;
}

.primary-banner .left-col{

}

.primary-banner .center-col{
    text-align: center;
    padding: 0 40px;
}

.primary-banner .right-col{
    text-align: right;
}

.primary-banner .image-container {
    background-position: center!important;
    background-size: cover!important;
    height: 100%;
    border-radius: 80px;
    position: relative;
}

.primary-banner .image-container:before {
    position: absolute;
    content: '';
    top: -22PX;
    right: -22PX;
    bottom: -22PX;
    left: -22PX;
    border: 1px solid #d5d5d5;
    border-radius: 96px;
}








.primary-banner .left-text-container{
    margin-top: 120px;
}

.primary-banner .left-text-container:first-child {
    margin-top: 0;
}

.primary-banner .left-col p{
    margin-top: 35px;
    font-size: 20px;
    line-height: 32px;
    color: #8e8e8e;
    letter-spacing: 1px;
    font-weight: 600;
    color: #000;
}


.primary-banner .right-text-container{
    margin-top: 100px;
}

.primary-banner .right-text-container:first-child {
    margin-top: 0;
}

.primary-banner .left-col h2{
    margin-top: 35px;
}









































.experience-section .three-col{
    margin-top: 60px;
}


.experience-section .three-col h3{
margin-top: 20px;
margin-bottom: 0;
}


.experience-section .three-col p{
margin-top: 5px;
}



.experience-section .border-bottom{
    padding-bottom: 80px;
    border-bottom: 5px solid #c0c6c9;
    margin-bottom: 100px;
}

.experience-section .border-bottom:last-child{
    margin-bottom: 0;
}

























.skills-section{
    background: #c0c6c9;
}

.skills-section .six-col{
    margin-top: 30px;
}

.skills-section .six-col-2{
    margin-top: 30px;
}

.skills-section .skill-container{
    background: #fff;
    text-align: center;
    padding: 44px 0px 0px;
    border-radius: 14px;
}

.skills-section .skill-container h5{
    margin-bottom: 0;
    border-top: 1px solid #d5d5d5;
    padding: 8px 0;
}

.skills-section .image-container{
    margin-bottom: 34px;
}

.skills-section .image-container img{
    width: auto;
    height: auto;
    max-width: 80px;
    max-height: 58px;
}



















.section-instafeed {
    padding-top: 0;
}


.section-instafeed .shot{
    width: 300px;
}


.section-instafeed .shot img{
    width: 100%;
}

.section-instafeed .shot {
    width: 30%;
    display: block;
    float: left;
    margin-right: 5%;
    margin-top: 55px;
    display: none;
}

.section-instafeed .shot:nth-child(3n) {
    margin-right: 0;
}

.section-instafeed .shot:nth-child(1),
.section-instafeed .shot:nth-child(2),
.section-instafeed .shot:nth-child(3),
.section-instafeed .shot:nth-child(4),
.section-instafeed .shot:nth-child(5),
.section-instafeed .shot:nth-child(6){
    display: block;
}

.section-instafeed .title {
    margin-top: 14px;
}    

.section-instafeed .insta-image {
    height: 264px;
    background-position: center!important;
    background-size: cover!important;
    box-shadow: 0px 0px 14px #0000001f;
    border-radius: 10px;
}



.section-instafeed .dribbble-image{
    width: 50px;
    position: relative;
    top: 10px;
}































.footer {
    padding: 30px 0;
    background: #000;
}

.footer .footer-social-icons{
    text-align: right;
}

.footer .text a{
    margin: 4px 0 0;
    color: #fff;
    display: inline-block;
}

.footer .footer-social-icons a{
    font-size: 20px;
    margin-left: 20px;
    color: #fff;
}







